<!DOCTYPE html>
<html>
    <head>
        <title>compowsr - r/competetiveoverwatch sr flair verification</title>
        <style>
            body{
                background-color: #123456;
                color: #eee;
                font-family: Monospace;
            }
            .flash{
                background-color: #cde;
                color: #000; 
                padding: 2em;
            }
        </style>
    </head>
    <body>

        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </body>
</html>
