{% extends "layout.html" %}

{% block content %}

    {# <p> {{ status.session_dump }} </p> #}

    <h1>CompOwSr</h1>
    <p class="small"><b>Comp</b>etitive <b>O</b>ver<b>w</b>atch <b>S</b>kill<b>r</b>ank verification</p>
    <p>
        Cheers, Love!
    <p>
        This tool can set your reddit user flair for the /r/CompetitiveOverwatch subreddit to one of the much sought-after <b>rank flairs</b>.
    <p>
        It will check your rank every fortnight to keep somehow up to date, but if you just made it into the higher bracket and want to show off your new shiny badge immediatly: just visit this website here!
    <p> 
        If you change your flair on the subreddit itself, we stop updating it until you come here again.
    <p>
        Now, to get started, just login with both, battle.net and reddit.
    <p>
        Keep in mind though, that you can only have one flair set at a time. If you use the same battle.net account to set a flair for a second reddit account, we will remove the flair from the first one and stop updating it.(We'll update the second one instead.)

    </p>
    <hr>

    {% if status.bnet_user %}

    <p>bnet: {{ status.bnet_user }}</p>

    {% else %}

        <p>bnet: <a href="{{ url_for('login_bnet') }}">pls login</a></p>

    {% endif %}




    {% if status.reddit_user %}

        <p>reddit: {{ status.reddit_user }}</p>

    {% else %}

        <p>reddit: <a href="{{ url_for('login_reddit') }}">pls login</a></p>

    {% endif %}


    {% if status.sr %}

        <p>sr: {{ status.sr }}</p>

        <a href="{{ url_for('set_flair') }}">Click to enable rank-flair on /r/CompetitiveOverwatch</a>

    {% endif %}



{% endblock %}
