{% extends "layout.html" %}

{% block content %}

    <p> {{ status.session_dump }} </p>


    {% if status.bnet_user %}

    <p>bnet: {{ status.bnet_user }}</p>

    {% else %}

        <p>bnet: <a href="{{ url_for('login_bnet') }}">pls login</a></p>

    {% endif %}




    {% if status.reddit_user %}

        <p>reddit: {{ status.reddit_user }}</p>

    {% else %}

        <p>reddit: <a href="{{ url_for('login_reddit') }}">pls login</a></p>

    {% endif %}


    {% if status.sr %}

        <p>sr: {{ status.sr }}</p>

        <form method="get" action="{{url_for('set_flair')}}">

            {% for rank, min_sr in status.ranks %}
                {% if min_sr <= status.sr %}

                    <label>{{rank}}</label>
                    <input type="radio" name="rank" value="{{rank}}">

                {% endif %}
            {% endfor %}

            <input type="submit" value="set flair">

        </form>

    {% endif %}



{% endblock %}
